---
layout: default
---


    {% assign postsLeft = site.posts | where: 'categories', 'left' %}
    {% assign postsRight = site.posts | where: 'categories', 'right' %}


    <div class="column typeset column--left" id="left">    

        <header class="site-header left" role="banner">   
            <a class="site-title" href="{{ "/" | relative_url}}">
                  <h1>ulises<span>.us</span></h1>
            </a>
        </header>

        {% for post in postsLeft %}
            {% if post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endif %}
        {% endfor %}

        {% for post in postsLeft %}
            {% unless post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endunless %}
        {% endfor %}

    </div>

    <div class="column typeset column--right" id="right">

        {% include header.html %}

        {% for post in postsRight %}
            {% if post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endif %}
        {% endfor %}

        {% for post in postsRight %}
            {% unless post.tags contains 'sticky' %}    
                {% include post-single.html %}            
            {% endunless %}
        {% endfor %}

        {% include about.html %}

    </div>
