<div class="about slide typeset">

<div class="expanded">

<ul>
    <li>Kayla Romberger</li>
    <li>Nerissa Cooney</li>
    <li>Gee Wesley</li>
    <li>Lauren Downing</li>
</ul>

<p>
    Ulises is a bookshop and curatorial platform dedicated to artists' books and independent art publications. Performing the model of a quarterly periodical, each curatorial season of ulises invites contributors to present publications, workshops, lectures, artworks or collaborations in response to a theme.
</p>
</div>

<div class="excerpted">
    <hr class="small" />
<p>
    Ulises is a bookshop and curatorial platform dedicated to artists' books and independent art publications. Performing the model of a quarterly periodical, each curatorial season of ulises invites contributors to present publications, workshops, lectures, artworks or collaborations in response to a theme.
</p>

    <hr class="big" />

</div>
</div>
