<div class="about slide">

<div class="expanded">

<div>
    <p><span>31</span> E Columbia Ave</p>
    <p>Phila, PA <span>19125</span></p>
</div>
<div>
<p>hello@<span>ulises</span>.us</p>
</div>

<p>
    Ulises is a bookshop and curatorial platform dedicated to artists' books and independent art publications. Performing the model of a quarterly periodical, each curatorial season invites contributors to present publications, workshops, lectures, artworks, and collaborations in response to a given theme.
</p>
<p>
    Ulises was founded in 2016 by Nerissa Cooney, Lauren Downing, Joel Evey, Kayla Romberger, Gee Wesley, and Ricky Yanas. Additional contributors include landlord Tim Belknap and professional Nabil Kashyap.
</p>
</div>

<div class="excerpted">
<!--     <hr class="small" />
<p>
    Ulises is a bookshop and curatorial platform dedicated to artists' books and independent art publications. Performing the model of a quarterly periodical, each curatorial season of ulises invites contributors to present publications, workshops, lectures, artworks or collaborations in response to a theme.
</p>

    <hr class="big" />
 -->
</div>
</div>
