<header class="site-header right">
<div class="content-wrapper info">
<div class="info-wrapper">
<div><p>Sat & Sun <span>12</span> – <span>6</span>PM</p></div>
<div id="info-button" data-parent="info"><p><a>info</a></p></div>
</div>

<div class="slide">

<div class="expanded">

<div class="info-wrapper">
    <div>
        <p><span>31</span> E Columbia Ave</p>
    </div>
    <div>
        <p>Phila, PA <span>19125</span></p>
    </div>
</div>
<div class="info-wrapper">
    <div>
        <p>+<span>1</span> (<span>267</span>) <span>702</span>-<span>0123</span></p>
    </div>
    <div>
        <p>hello@<span>ulises</span>.us</p>
    </div>
</div>


    {% assign info = site.posts | where: 'tags', 'info' %}

    {{ info[0].content }}

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//ulises.us14.list-manage.com/subscribe/post?u=58562cf5d1b76bc24d9c433ec&amp;id=fcf50467af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        
    <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="SUBSCRIBE ...">
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58562cf5d1b76bc24d9c433ec_fcf50467af" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="&rarrw;" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->

</div>

<div class="excerpted">
</div>
</div>
<div>
</header>