body {

    background-color: $bodyColour;

    @include media-query($on-laptop){
        background-color: $backgroundColour;
    }
}

.typeset p {
    text-indent: 5rem;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.typeset p img {
    display: block;
}

// * * * * * Home Page Elements * * * * *

header {

    height: 7rem;

    @include media-query($on-laptop){
        height: auto;
    }

    & a { color: $linkColour;}
    & a:hover { color: $hoverColour; }

    & a.site-title h1 {
        font-size: 56.6px;
        text-align: center;
        margin-top: 1rem;
    }
    
    & a span{
        font-family: "Times New Roman Seven", Times, serif;
        font-weight: 300;
    }

    & ul { 
        list-style: none;

        @include media-query($on-laptop){
            display: none;
        }

        & li a:link {
            color: $bodyColour;
            text-shadow: none;
            background-image: none;
            text-decoration: unset;
        }

        & li {
            text-align: center;
        }
    }

    & ul:first-child{
        float: left;
    }

    & ul:last-child{
        float: right;
    }

    & li {
        font-family: "Times New Roman Seven", Times, serif;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;
        text-align: center;
    }

    & span { font-family:  Lars, "Helvetica Neue", sans-serif; }
}

#left header ul {
    display: none;
    text-align: center;
    padding-left: 0;
    width: 100vw;

    & li {
        margin-left: 0;
    }

    @include media-query($on-laptop){
        display: block;
    }
}

.about p {
    text-indent: 5rem;
    padding-top: 1.5rem;
}

.row-wrapper {
    @include row();

    &.outer-container {
        @include outer-container;
    }
}

.column {

    @include span-columns(6);
    @include shift(0);
    background-color: $backgroundColour;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    & .about hr.big { display: block; }
    & .about hr.small { display: none; }

    h2 { text-align: center; }

    @include media-query($on-laptop){
        @include span-columns(12);
        @include shift(0);
        position: inherit;
        height: auto;

        & .about hr.big { display: none; }
        & .about hr.small { display: block; }

        & .about p { 
            padding-top: 0; 
            padding-bottom: 2rem; 
        }

    }
}

.column#left .ps-scrollbar-y-rail {
    position: fixed;
    left: 0.5rem;
}

.column#right .ps-scrollbar-y-rail {
    right: 0.5rem;
}

.column#right {
    @include omega;

    @include media-query($on-laptop){
        @include shift(0);
    }
}

article p span {
    text-decoration: underline;
}

#left article p span {
    font-size: 1.5rem;
}

.about { 
    background-color: $backgroundColour; 
    clear: both;
}

#right div.about > div {
    display: block;
    @include media-query($on-laptop){
            display: none;
    }
}

#right div.about ~ div {

    display: none;
    @include media-query($on-laptop){
            display: block;
    }
}

h2.post-title {
    text-transform: uppercase;
}