@mixin transdefaults($params) {
    transition: $params;
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
}

body {

    background-color: $bodyColour;

    @include media-query($on-laptop){
        background-color: $bodyColour;
    }
}

.typeset p {
    text-indent: 5rem;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.typeset p img {
    display: block;
}


// * * * * * Home Page Elements * * * * *


// Both column headers

header.global-header {

    height: 7rem;

    @include media-query($on-laptop){
        height: auto;
    }

    & a { color: $linkColour;}
    & a:hover { color: $hoverColour; }

    & a.site-title h1 {

        font-size: 56.6px;
        text-align: center;
        margin-top: 1rem;
    }
    
    & a span{
        font-family: "Times New Roman Seven", Times, serif;
        font-weight: 300;
    }

    & ul { 
        list-style: none;
        padding-left: 0;
        @include span-columns(6 of 6);

        @media screen and (max-width:1100px){
            @include span-columns(6 of 12);
        }

        @include media-query($on-palm){
            display: none;
        }

        & li:nth-child(2):hover {
            color: $hoverColour;
        }
    }

    & li {
        display: inline-block;
        @include span-columns(3 of 6);
        float: left;
        font-family: "Times New Roman Seven", Times, serif;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;
        text-align: center;
    }

    & li:nth-child(2) {
        text-align: center;
    }

    & span { font-family:  Lars, "Helvetica Neue", sans-serif; }
}

// Responsive about paragraph

.about { 
    background-color: $backgroundColour; 
    clear: both;

    & p { padding-top: 1.5rem; }

    & hr.big { display: block; }
    & hr.small { display: none; }

    @include media-query($on-palm){

        & hr.big { display: none; }
        & hr.small { display: block; }

        & p { 
            padding-top: 0; 
            padding-bottom: 2rem; 
        }
    }
}

#right div.about:first-of-type {

    display: block;
    @include media-query($on-palm){
            display: none;
    }
}

#right article + div.about{

    display: none;
    @include media-query($on-palm){
        display: block;
    }
}

// Left column headers

#left header ul {
    display: none;
    text-align: center;
    padding-left: 0;

    & li {
        margin-left: 0;
        width: 100%;
    }

    @include media-query($on-palm){
        display: block;
    }
}

// General column content

.row-wrapper {
    @include row();

    &.outer-container {
        @include outer-container;
    }
}

.column {

    @include span-columns(6);
    @include shift(0);
    background-color: $backgroundColour;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 4.5rem;

    h2 { text-align: center; }

    @include media-query($on-palm){
        @include span-columns(12);
        @include shift(0);
        position: inherit;
        height: auto;
    }
}

.column#right {
    @include omega;

    @include media-query($on-palm){
        @include shift(0);
    }
}

// Post

.slide {
    height: auto;
}

.slide .excerpted {
    overflow: hidden;
}

.slide .expanded {
    color: $backgroundColour;
    background-color: $bodyColour;
    min-width: 49.5vw;
    margin-left: -4.5rem;
    padding: 0 4.5rem 5px 4.5rem;
    max-height: 0;
    overflow: hidden;
    @include transdefaults(max-height .5s ease-in 0s);
    
    & > p { clear: both; }

    & > p:last-child { padding-bottom: 4rem; }

    & div { 
        width: 50%;
        float: left;
        display: inline-block;
        text-align: center;
        margin: 2rem 0 4rem 0;

        & > p {
            padding: 0;
            margin: 0;
            text-indent: 0;
            font-size: 1.5rem;
            line-height: 3rem;
        }

        & p span { font-family:  Lars, "Helvetica Neue", sans-serif; }


    }
}

.slide .expanded.show {
    max-height: 50rem;
    @include transdefaults(max-height .5s ease-out 0s)
}

h2.post-title {
    text-transform: uppercase;
}

header.post-header p {
    text-indent: 0;
    text-align: center;
}

article.post {
    margin-bottom: 4rem;
}

article.post div.post-content ol li p{
    padding-top: .1rem;
    text-indent: 0;
    padding-left: .5rem;
}

// Perfect scrollbar overrides
//
// issue with typeset text-indent applying to images
// wrapped in <p> as parsed by markdown, forcing
// x scroll

.ps-container#left {

    .ps-scrollbar-y-rail{ left: 0; }
    .ps-scrollbar-x-rail{ display: none; }
}

.ps-container#right {

    .ps-scrollbar-y-rail{ right: 0.2rem; }
    .ps-scrollbar-x-rail{ display: none; }

}