body {

    background-color: $bodyColour;

    @include media-query($on-laptop){
        background-color: $backgroundColour;
    }
}

.typeset p {
    text-indent: 5rem;
}

// * * * * * Home Page Elements * * * * *

header {

    & a { color: $linkColour; }
    & a:hover { color: $hoverColour; }

    & a.site-title h1 {
        font-family: Lars, "Helvetica Neue", sans-serif;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        margin-top: 1rem;
    }
    
    & span{
        font-family: "Times New Roman Seven", Times, serif;
        font-weight: 300;
    }

    & ul { 
        list-style: none;

        @include media-query($on-laptop){
            display: none;
        }

        & li a:link {
            color: $bodyColour;
            text-shadow: none;
            background-image: none;
            text-decoration: unset;
        }

        // & li a:hover, & li a:active, & li a:focus {
        //     color: $hoverColour;
        //     text-shadow: none;
        //     background-image: none;
        //     text-decoration: unset;
        // }

    }

    div#left & ul {
        display: none;
        @include media-query($on-laptop){
            display: block;
            float: left;
            & li {
                text-align: left;
            }
        }
    }

    & ul:first-child{
        float: left;

        & li {
            text-align: left;
        }
    }

    & ul:nth-child(2){
        float: right;

        & li {
            text-align: right;
        }
    }

    & li {
        font-family: "Times New Roman Seven", Times, serif;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: left;
        margin-top: 1rem;

        & span { font-family:  Lars, "Helvetica Neue", sans-serif; }
    }
}

.row-wrapper {
    @include row();

    &.outer-container {
        @include outer-container;
    }
}

.column {

    @include span-columns(6);
    @include shift(0);
    background-color: $backgroundColour;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    @include media-query($on-laptop){
        @include span-columns(12);
        @include shift(0);
        float: left;
        position: inherit;
        height: auto;
    }
}

.column#left .ps-scrollbar-y-rail {
    position: fixed;
    left: 0.5rem;
}

.column#right .ps-scrollbar-y-rail {
    right: 0.5rem;
}

.column#right {
    // @include shift(6);
    @include omega;

    @include media-query($on-laptop){
        @include shift(0);
    }
    h2 { text-align: center; }
}

article p span {
    text-decoration: underline;
}

#left article p span {
    font-size: 1.5rem;
}

#about {

    background-color: $backgroundColour;

    div#right & {

        display: none;
        @include media-query($on-laptop){
                display: block;
        }
    }

    div#left & {

        display: block;
        @include media-query($on-laptop){
                display: none;
        }
    }
}