---
---

@font-face {
    font-family: Lars;
        src: 
            url('../font/Lars-Regular.woff2') format('woff2'),
            url('../font/Lars-Regular.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Times New Roman Seven";
    src: url('../font/TimesNRSevenMT-Regular.woff') format('woff');
}

// Import Sassline partials.
@import "sassline/sassline-variables";
@import "sassline/sassline-base/modular-scale";
@import "sassline/sassline-base/mixins";
@import "sassline/sassline-base/typography";
@import "sassline/sassline-base/layouts";

@import "sassline/modules/globals";
@import "sassline/modules/nav";
@import "sassline/modules/header";
@import "sassline/modules/footer";
@import "sassline/modules/show-grid";

// Import Neat partials.
@import "neat/neat";

// Import Perfect Scrollbar

@import 'perfect-scrollbar/variables';
@import 'perfect-scrollbar/mixins';
@import 'perfect-scrollbar/themes';

// Import custom layouts
@import "layouts";