---
layout: default
---

    {% assign postsLeft = site.posts | where: 'categories', 'left' %}
    {% assign postsRight = site.posts | where: 'categories', 'right' %}


    <div class="column column--left" id="left">    

        {% include header-left.html %}



        {% for item in postsLeft %}
            {{ item }}
        {% endfor %}

    </div>

    <div class="column column--right" id="right">

        {% include header-right.html %}

        {% include about.html %}

        {% for item in postsRight %}
            {{ item }}
        {% endfor %}

        {% include about.html %}

    </div>